@import "tailwindcss";

@theme {
  --breakpoint-xs: 481px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

@utility container {
  /* Center the container */
  margin-inline: auto;

  /* Apply default padding */
  padding-inline: 1rem;

  /* Apply padding for the custom 'xs' breakpoint */
  @media (width >= theme(--breakpoint-xs)) {
    padding-inline: 0.5rem;
  }

  /* Apply custom max-widths at each breakpoint */
  @media (width >= theme(--breakpoint-sm)) {
    max-width: theme(--breakpoint-sm);
    padding-inline: 0.75rem;
  }

  @media (width >= theme(--breakpoint-md)) {
    max-width: theme(--breakpoint-md);
    padding-inline: 1rem;
  }

  @media (width >= theme(--breakpoint-lg)) {
    max-width: theme(--breakpoint-lg);
    padding-inline: 1.25rem;
  }

  @media (width >= theme(--breakpoint-xl)) {
    max-width: theme(--breakpoint-xl);
    padding-inline: 1.5rem;
  }

  @media (width >= theme(--breakpoint-2xl)) {
    max-width: theme(--breakpoint-2xl);
    padding-inline: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", serif;
  font-weight: 500;

  @apply container;
}

body {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

#root {
  @apply flex flex-col;
}

main {
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 12px;
}

/* Custom Horizontal Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Horizontal scrollbar width */
  height: 10px;
  /* Vertical scrollbar height */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #eee;
  /* Light background for track */
  border-radius: 3px;
  /* Rounded corners for the track */
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #666;
  /* Green color for thumb */
  border-radius: 3px;
  /* Rounded corners for the thumb */
}

/* Scrollbar Thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Darker green when hovered */
}

/* Apply custom scrollbar to specific containers */
.custom-scroll-container {
  width: 100%;
  height: 200px;
  overflow: auto;
}

/* Example for horizontal scrollbar */
.horizontal-scroll {
  width: 100%;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* Example for vertical scrollbar */
.vertical-scroll {
  width: 100px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
